# Compiled Object files
*.slo
*.lo
*.o
*.obj
glm/
Build/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
Source/glm
.vs/
Source/.vs/
Source/Debug/
Source/rasterizer.aps
Source/rasterizer.rc
Source/rasterizer.sln
Source/rasterizer.vcxproj
Source/rasterizer.vcxproj.*
*.vcxproj.*
Source/rasterizer.VC.*
Source/x64/*
rasterizer.sln
rasterizer.VC.db
rasterizer.vcxproj
rasterizer.VC.db
rasterizer.vcxproj
Source/raterizer.sln
Source/raterizer.VC.db
Source/raterizer.vcxproj
